#page-title {
  text-align: center;
  font-size: 180%;
  margin-top: 0;
  padding: 1vh 0 1vh 0;
}

.impress-data {
  font-size: 110%;
  font-weight: 200;
  margin: 0.1vh 0 0.1vh 0;
}

#mb_title {
  text-align: center;
  font-size: 160%;
  margin-top: 0;
  padding: 1vh 0 1vh 0;
}

.mitarbeiter {
  padding: 2vh 2vw 2vh 2vw;
}

.mb_picture {
  width: 15vw;
  height: 15vw;
  border-radius: 0.5vw;
}

.mb_name {
  margin: 0;
  text-align: center;
  font-size: 140%;
}

@media (max-width: 600px) {
  .mitarbeitende.flex-row {
    flex-direction: column !important;
  }

  .mb_picture {
    width: 25vw;
    height: 25vw;
  }
}