body {
  margin: 0 2vw 0 2vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

#header {
  padding: 2vh 1.5vw 2vh 1.5vw;
  display: flex;
  justify-content: space-between;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a {
  text-align: center;
  height: min-content;
}

.login_icon {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(229, 188, 138);
}

#jahrgang {
  margin-top: 0;
  font-style: italic;
}

h1 {
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 0 3vw 0 3vw;
  border-top: 0.3vh solid rgb(19, 19, 19);
  border-bottom: 0.3vh solid rgb(19, 19, 19);
}

.navlink {
  padding: 2vh 1vw 2vh 1vw;
  height: 100%;
  color: black;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.navlink.active {
  background-color: color-mix(in srgb, ghostwhite 90%, black 10%);
}

.navlink:hover {
  background-color: color-mix(in srgb, ghostwhite 90%, black 10%);
}

main {
  justify-content: center;
  padding: 3vh 5vw 3vh 5vw;
}

.data-splitter {
  margin-bottom: 6vh;
}

footer {
  justify-content: space-between;
  padding: 5vh 6vw 5vh 6vw;
}

.footer-column {
  justify-content: center;
}

.flex-start .footer-column {
  margin-right: 2vw;
}

.flex-end .footer-column {
  margin-left: 2vw;
}

.footer-link {
  padding: 0.5vh 0 0.5vh 0;
}
/* Allgemeine quick-use-klassen deklarationen*/

.border-top-black {
  border-top: 0.3vh solid rgb(19, 19, 19);
}

.border-bottom-black {
  border-bottom: 0.3vh solid rgb(19, 19, 19);
}

.border-top-cream {
  border-top: 0.4vh solid #f9e4bc;
}

.border-bottom-cream {
  border-bottom: 0.4vh solid #f9e4bc;
}

.center-txt {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-rev {
  display: flex;
  flex-direction: column-reverse;
}

.jstfy-flex-start {
  justify-content: flex-start;
}

.jstfy-flex-end {
  justify-content: flex-end;
}

.jstfy-center {
  justify-content: center;
}

.jstfy-space-around {
  justify-content: space-around;
}

.jstfy-space-between {
  justify-content: space-between;
}

.ghostwhite {
  background-color: ghostwhite !important;
}

@media(max-width: 600px){
  h1{
    font-size: 1em;
  }
  .login_icon{
    width: 5vw;
    height: 5vw;
  }
}